<template>
  <div id="advertisingSection">
    <a-row type="flex">
      <a-col
        :span="6"
        :xs="12"
        :md="6"
      >
        <img class="advertise-image" src="../../assets/images/g1.jpeg">
      </a-col>
      <a-col
        :span="6"
        :xs="12"
        :md="6"
      >
        <img class="advertise-image" src="../../assets/images/g2.jpeg">
      </a-col>
      <a-col
        :span="6"
        :xs="12"
        :md="6"
      >
        <img class="advertise-image" src="../../assets/images/g3.jpeg">
      </a-col>
      <a-col
        :span="6"
        :xs="12"
        :md="6"
      >
        <img class="advertise-image" src="../../assets/images/g4.jpeg">
      </a-col>
      <a-col
        :span="6"
        :xs="12"
        :md="6"
      >
        <img class="advertise-image" src="../../assets/images/g5.jpeg">
      </a-col>
      <a-col
        :span="6"
        :xs="12"
        :md="6"
      >
        <img class="advertise-image" src="../../assets/images/g6.jpeg">
      </a-col>
      <a-col
        :span="6"
        :xs="12"
        :md="6"
      >
        <img class="advertise-image" src="../../assets/images/g7.jpeg">
      </a-col>
      <a-col
        :span="6"
        :xs="12"
        :md="6"
      >
        <img class="advertise-image" src="../../assets/images/g8.jpeg">
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.column, .row {
  padding: 0 !important;
}
.advertise-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
</style>
